#忽略 IDE 配置文件
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

#忽略构建输出和编译文件
# Built application files
*.apk
*.ap_
# Files for the dex VM
*.dex
# Java class files
*.class
# Build output directories
bin/
gen/
out/
build/