<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android_study_demo_project">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /><!-- 允许应用安装到不支持摄像头的硬件设备上 -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" /><!-- 允许应用安装到不支持电话的硬件设备上 -->
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <!-- //地图SDK（包含其搜索功能）需要的基础权限 -->
<!--    高德地图权限要求-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /><!-- 访问设备精确位置信息,GPS或其他基于网络的位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 允许应用访问设备的大概位置信息，精度较低，通过Wi-Fi或移动网络基站获取 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /><!-- 普通权限，允许应用通过ILocationManager接口发送额外的命令给位置提供程序 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 音频权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许程序设置内置sd卡的读权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /><!-- 联系人权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /><!-- 通话权限 -->
<!--    极光需要的权限-->
    <permission android:name="${applicationId}.permission.JOPERATE_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.JOPERATE_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".RXJavaMainActivity" />
        <activity android:name=".OkHttpMainActivity" />
        <activity android:name=".GlideMainActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MainActivity_map" />
        <activity android:name=".MainActivityForService" />
        <activity android:name=".storage.StorageActivity" />
        <activity android:name=".intent.IntentMainActivity" />
        <activity android:name=".storage.FileUsageActivity">
            <intent-filter>
                <action android:name="com.example.android_study_demo_project.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.android_study_demo_project.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".storage.SharePreferenceLoginActivity" />
        <activity android:name=".storage.SharePreferenceActivity" />
        <activity
            android:name=".storage.SQLiteUsageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".fragmentUsage.FragmentUsageActivity" />
        <activity android:name=".media.MediaMainActivity" />
        <activity android:name=".media.MediaRecorderActivity" />
        <activity android:name=".media.MediaPlayerActivity" />
        <activity android:name=".media.MediaVideoViewActivity" />
        <activity android:name=".media.MediaSoundPoolActivity" />

        <receiver
            android:name=".fragmentUsage.StaticBroadcastUsageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.broadcast.TEST" />
            </intent-filter>
        </receiver>

        <activity android:name=".storage.ROOM.RoomUsageActivity" />
        <activity android:name=".internetImageUsage.InternetImageUsageMainActivity" />
        <activity android:name=".espressoUsage.EspressoUsageActivity" />
        <activity
            android:name=".androidCleanArchitecture.CompositionRoot.CleanArchitectureActivity"
            android:exported="false" />
        <activity android:name=".dataBindingUsage.DataBindingActivity"/>
        <activity android:name=".dataBindingUsage.recyclerViewDataBinding.RecyclerViewDataBindingUsageActivity"/>
        <activity android:name=".dataBindingUsage.fragmentDataBinding.FragmentDataBindingActivity"/>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--极光的协议配置信息-->
            <intent-filter>
                <!--协议部分，随便设置-->
                <data android:scheme="http" />
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity2" />
        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:theme="@android:style/Theme.NoTitleBar" />

        <service android:name=".MyService" />

        <receiver android:name=".CustomReceiver">
            <intent-filter>
                <action android:name="com.derry.receiver_flag_" />
            </intent-filter>
        </receiver>

        <!-- //开发者申请的key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b36ba9e21b825d2d09e1cfe0bd2c0867" />

        <service android:name="com.amap.api.location.APSService" />

        <!-- 七牛的key -->
        <meta-data
            android:name="QiNiu_accessKey"
            android:value="oN0Ptelzy0jJzSONtPxvY-khvFy7AGx5b2z9NB4b" />
        <meta-data
            android:name="QiNiu_secretKey"
            android:value="Chq8u6oJ0NUycGgrvFLoT8FfvzXQE69TZ3iHQhUV" />
        <meta-data
            android:name="QiNiu_bucket"
            android:value="internet-image-android" />

        <!-- 用于测试的元素据 -->
        <meta-data
            android:name="com.example.android_study_demo_project.TEST"
            android:value="\1234567890" />

        <!-- 极光配置信息-->
<!--        SDK回调方式说明-->
<!--        SDK版本：3.0.7<= x < 5.2.0 和 5.4.0及以上 使用receiver 方式-->
<!--        SDK版本：5.2.0<= x <=5.3.1 使用service 方式-->
        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service android:name="com.example.android_study_demo_project.JiGuangUsage.JGCommonService"
            android:process=":pushcore"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name="com.example.android_study_demo_project.JiGuangUsage.JGPushMessageReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <!-- 从 JPush v5.4.0 版本开始，请特别注意 RECEIVER_MESSAGE 写法, 如配置错误则无法找到回调类 -->
                <action android:name="cn.jpush.android.intent.RECEIVER_MESSAGE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
<!--        JPush ≥ 5.0.0 且 JCore < 4.2.0-->
        <provider tools:node="remove"
            android:exported="false"
            android:authorities="${applicationId}.jiguang.InitProvider"
            android:name="cn.jpush.android.service.InitProvider"/>
        <!-- Required -->
        <!-- </>值来自开发者平台取得的AppKey -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="2ca7c93834e9e8dc85958064" />
        <!-- </>方便开发者统计APK分发渠道，GooglePlay为google-play，其他市场为xxx-market，目前暂未开放 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
    </application>

</manifest>